*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body{
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 4vw;
    margin-bottom: 4vw;   
}

h1{
    background-color: blue;
    color: white;
    font-size: 2vw;
    height: 3vw;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center; 
}

h2{
    background-color: gray;
    color: white;
    font-size: 2vw;    
    height: 3vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.listaMenu{
    font-size: 2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 2vw;
}

.voltar{
    font-size: 2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center; 
    
}

td,th{
    border: 3px solid  black;
    text-align: center;
    font-size: 2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

table{
    width: 90%;
    margin: auto;    
}









