*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body{
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 4vw;
    margin-bottom: 4vw;   
}

h1{
    background-color: blue;
    color: white;
    font-size: 2vw;
    height: 3vw;  
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.h2-1{
    background-color: gray;
    color: white;
    font-size: 2vw;    
    height: 3vw;
    font-family: inherit;    
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;    
}


.h2Cad{
    font-size: 2vw;
    font-family: inherit;
    color: black;
    
}

.h3{    
    font-size: 2vw;    
    font-family: inherit;
    color: black;
         
}

.voltar{
    font-size: 2vw;
    font-family: inherit;
    font-weight: bold;
}


.listaMenu{
    margin-left: 2vw;
    font-size: 2vw;
    font-family: inherit;
     list-style-type: none;
       
}

.listaMenu2{
    text-decoration: none;
}











