th, td{
    border: 3px  solid  black;
    font-size: 2vw;
    font-family: inherit;
    text-align: center;      
        
}

table{
     width: 95%;
    margin: auto;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body{
    margin-left: 2vw;
    margin-right: 2vw;   
}

h1{
    background-color: blueviolet;
    color: white;
    font-size: 3vw;
    height: 4vw;  
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.cor1{
    background-color: darkgray;
}

.cor2{
    font-size: 2vw;
    font-family: inherit;
    background-color: blue;
    color: white;
}

.cor4{
    background-color: lightgray
}

.fontTh{
    font-size: 2vw;
    font-family: inherit;
    color: black;
    font-weight: bold;
}

.voltar{
    font-size: 3vw;
    font-family: inherit; 
    text-align: center;   
}







