*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 60px;
    margin-bottom: 40px;
       
}

h1{
    background-color: blue
    ;
    color: white;
    font-size: 2.3rem;      
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center; 
}

h2{
    background-color: gray;
    color: white;
    font-size: 2rem;   
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;    
}

h4{
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-weight: bold;
    text-align: center;
}

.sair{
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-weight: bold;
    text-align: center;   
}

.contorno{
    width: 1200px;
    height: 550px;
    border: 0px solid white;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}




@media (max-width: 800px) {
    body{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h1{
        font-size: 3.5rem;
        text-align: center;
    }

    h2{
        font-size: 3.5rem;
        text-align: center;
    }

    h3{
        font-size: 3.5rem;
        text-align: center;
    }

    h4{
        font-size: 3.5rem;        
        text-align: center;        
    }
    
    h5{
        font-size: 3.5rem;        
        text-align: center;
    }

    .menuLi{
        font-size: 3.5rem;
        text-align: center; 
                
    }

    .menuUl{
        font-size: 3.5rem;
        text-align: center; 
                
    }
    
    /*p{
        font-size: 2.5rem;
        text-align: justify;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        text-indent: 3.5rem;
    }*/

    .sair{
        font-size: 3.5rem;
        text-align: center;
    }

    .contorno{
    width: 90%;
    height: 60px;
    
}


}


@media (max-width: 500px) {
    body{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h1{
        font-size: 3.5rem;
        text-align: center;
    }

    h2{
        font-size: 3.5rem;
        text-align: center;
    }

    h3{
        font-size: 3.5rem;
        text-align: center;
    }

    h4{
        font-size: 3.5rem;        
        text-align: center;
    }
    
    h5{
        font-size: 3.5rem;        
        text-align: center;
    }

    /*.menuLi{
        font-size: 3.5rem;
        text-align: center;                
    }&/

    /*.menuUl{
        font-size: 3.5rem;
        text-align: center;                 
    }*/
    
    /*p{
        font-size: 2.5rem;
        text-align: justify;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        text-indent: 3.5rem;
    }*/

    
    .sair{
        font-size: 3.5rem;
        text-align: center;
    }

    .contorno{
    width: 90%;
    height: 60px;
    
}

}


