*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body{
    margin-left: 2vw;
    margin-right: 2vw;   
}

h1{
    background-color: blueviolet;
    color: white;
    font-size: 3vw;
    height: 4vw;  
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center; 
}

h2{
    background-color: red;
    color: white;
    font-size: 2vw;
    width: 22vw;
    height: 3vw;
    font-family: inherit;    
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;    
}

h3{
    font-size: 2vw;
    font-family: inherit;
    color: black;
    font-weight: bold;
}

.voltar{
    font-size: 3vw;
    font-family: inherit;    
}


