*{
    padding: 0;
    margin: 0;
    box-sizing: 0;    
}

body{
    margin-left: 2vw;
    margin-right: 2vw;
    
}

h1{
    background-color: blue;
    color: white;
    font-size: 3vw;
    height: 4vw;  
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;     
}

h2{
    font-size: 3vw;
    font-family: inherit;
    font-weight: bold;
    text-align: center;
}


.btnEnviar{
    font-size: 2vw;
    font-family: inherit;
    background-color: blue;
    color: white;
    height: 3vw;
    width: 7vw;
    border: none;
    cursor: pointer;    
}

.btnLimpar{
    font-size: 2vw;
    font-family: inherit;
    background-color: gray;
    color: white;
    height: 3vw;
    width: 7vw;
    border: none;
    cursor: pointer;    
}

.voltar{
    font-size: 3vw;
    font-family: inherit;
    text-align: center;
}

.input{
    background-color: aqua;
    font-size: 2vw;
    font-family: inherit;
    color: black;
    text-align: center;
}

.input2{
    background-color: gray;
    font-size: 2vw;
    font-family: inherit;
    color: black;
}

label{
    font-size: 2vw;
    font-family: inherit;
    color: black;
    font-weight: bold;
}

.msg{
    font-size: 2vw;
    font-family: inherit;
    text-align: center;
}

.centralForm{
    text-align: center;
}

