*{
    padding: 0;
    margin: 0; 
    box-sizing: 0;   
    
}

body{
    margin-left: 45px;
    margin-right: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
}

h1{       
    background-color: blue;
    color: white;
    font-size: 3rem; 
    font-family: Arial, Helvetica, sans-serif;    
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

h2{
    background-color: gray; 
    color: white;
    font-size: 3rem;   
    font-family: Arial, Helvetica, sans-serif;    
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h3{       
    background-color: coral;
    color:  white;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;    
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;           
}


.baner{
    display: grid;
    grid-template-columns: 1fr;    
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    gap: 4rem;
    /*display: flex;
    justify-content: space-between;
    align-items: center;*/     
       
    
}

.baner2{
    border: 0px solid white;    
    height: 18rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.menuLi{   
    
    color:  blueviolet;    
    text-decoration: none; 
    font-size: 3.5rem;
    font-family: Arial, Helvetica, sans-serif
    
                   
} 


.menuUl{  
    list-style-type: none;
    text-align: center;
    /*display: flex;
    justify-content: space-between;
    margin-left: 5vw;
    margin-right: 5vw;*/ 
                  
}

/*@media screen and (min-width: 1024px){
    h1{
        font-size: 3rem;
    }

    h2{
        font-size: 3rem;
    }

    h3{
        font-size: 2.5rem;
    }

    .menuLi{
        font-size: 1.5rem;
        
    }

}*/

/*



/*.img{
    border-radius: 50%;
    border: none;
}*/











