*{
    padding: 0;
    margin: 0; 
    box-sizing: 0;   
    
}

body{
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 4vw;
    margin-bottom: 4vw;
}

h1{       
    background-color: blue;
    color: white;
    font-size: 3rem; 
    font-family: Arial, Helvetica, sans-serif;
    
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

h2{
    background-color: gray; 
    color: white;
    font-size: 3rem;   
    font-family: Arial, Helvetica, sans-serif;
    
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h3{       
    background-color: coral;
    color:  white;
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif ;    
    
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;           
}

.baner{ 
    display: flex;
    justify-content: space-between;
    align-items: center;      
       
    
}

.baner2{
    border: 0px solid white;    
    height: 20vw;
    width: 35vw;

}

.menuLi{   
    
    color:  blueviolet;    
    text-decoration: none; 
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif
    
                   
}



.menuUl{  
    list-style-type: none;
    text-align: center;
    /*display: flex;
    justify-content: space-between;
    margin-left: 5vw;
    margin-right: 5vw;*/ 
                  
}

/*.img{
    border-radius: 50%;
    border: none;
}*/











