*{
    padding: 0;
    margin: 0; 
    box-sizing: 0;  
    
}*/

body{
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 4vw;
    margin-bottom: 4vw;
    
}

.menuLi{   
    
    color: blueviolet ;    
    text-decoration: none;
    
    
            
}

.menuUl{
    font-size: 2vw;
    font-family: inherit;    
    list-style-type: none;
    text-align: center;
    
    
    
    

}

/*.menu{
    font-size: 40px;
    font-family: inherit; 
    margin-left: 20px; 
    background-color: red;
    color: white;
    width: 150px;
    height: 50px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
           
}*/

h1{
    background-color: blue;
    height: 3vw;
    font-size: 2;
    color: white;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;    
}

h2{
    background-color: gray;
    height: 3vw;    
    font-size: 2vw;    
    color: white;   
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

h3{
    background-color: coral;
    height: 3vw;
    font-size: 2vw; 
    color:  white;
    font-family: inherit;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.baner{     
    display: flex;
    justify-content: space-between;
    margin-left: 7vw;
    margin-right: 7vw;  
       
       
}

/*.baner2{
    display: inline-block;
}*/

.circulo{
    border-radius: 50%;
    border: none; 
        
}