/**{
    padding: 0;
    margin: 0; 
    box-sizing: 0;  
    
}*/

body{
    margin-left: 40px;
    margin-right: 40px;
}

.listaMenu{    
    font-size: 30px;
    font-family: inherit;
     
}

/*.menu{
    font-size: 40px;
    font-family: inherit; 
    margin-left: 20px; 
    background-color: red;
    color: white;
    width: 150px;
    height: 50px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
           
}*/

h1{
    font-size: 50px;    
   
    color: black;
    font-family: inherit;
    height: 60px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
    
    color: black;
    font-size: 40px;
    font-weight: bold;
    height: 50px;  
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center; 
}

h3{
    font-size: 35px;    
    
    color:  black;
    font-family: inherit;
    height: 45px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.baner{     
    display: flex;    
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px; 
     
}

/*.baner2{
    display: inline-block;
}*/

.circulo{
    border-radius: 50%;
    border: none;
    
    
}