*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body{
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 4vw;
    margin-bottom: 4vw;
}

h1{
    background-color: blue;    ;
    color: white;
    font-size: 2vw;
    height: 3vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;  
}

h2{
    background-color: gray;
    color: white;
    font-size: 2vw;
    height: 3vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center; 
    
    
}

.btnEntrar{
    font-size: 2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: blue;
    color: white;
    height: 3vw;
    width: 10vw;
    border: none;
    cursor: pointer;
    
}

.btnMostrar{
    font-size: 2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: gray;
    color: white;
    height: 3vw;
    width: 10vw;
    border: none;
    cursor: pointer;
    
}

.voltar{
    font-size: 2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
}

input{
    background-color: aqua;
    font-size: 2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-align: center;
}

label{
    font-size: 2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

.msg{
    font-size: 2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.centralForm{
    text-align: center;
}





