*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body{
    margin-left: 40px;
    margin-right: 40px;   
}

th, td{
    border: 3px  solid  black;
    font-size: 30px;
    font-family: inherit;
    text-align: center;  
}

table{
     width: 90%;
    margin: auto;
}

h1{
    font-size: 50px;
    font-family: inherit;
    background-color: blueviolet;
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cor1{
    background-color: darkgray;
}

.cor2{
    background-color: blue;
    color: white;
    font-size: 40px;
    font-family: inherit;
}

.voltar{
    font-size: 40px;
    font-family: inherit;
    text-align: center;    
}

.fontTh{
    font-size: 35px;
    font-family: inherit;
    color: black;
}










