*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body{
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 4vw;
    margin-bottom: 4vw;   
}

th, td{
    border: 3px  solid  black;
    font-size: 2vw;
    font-family: inherit;
    text-align: center;  
}

table{
     width: 90%;
    margin: auto;
}

h1{
    background-color: blueviolet;    
    color: white;
    font-size: 2vw;
    font-family: inherit;    
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cor1{
    background-color: darkgray;
}

.cor2{
    background-color: blue;
    color: white;
    font-size: 2vw;
    font-family: inherit;
}

.voltar{
    font-size: 2vw;
    font-family: inherit;
    font-weight: bold;
    text-align: center;    
}

.fontTh{
    font-size: 2vw;
    font-family: inherit;
    color: black;
}










