*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body{
    margin-left: 20px;
    margin-right: 20px;
     
}

h1{
    background-color: blueviolet;
    color: white;
    font-size: 30px;
    height: 4vw;  
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.textoDiv{
    font-size: 20px;
    font-family: inherit;
    color: black;
    
}

h2{    
    font-size: 25px;   
    font-family: inherit; 
    color: black;
    font-weight: bold;        
}

.voltar{
    font-size: 25px;
    font-family: inherit; 
    text-align: center;   
}