*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body{
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 4vw;
    margin-bottom: 4vw;
     
}

h1{
    background-color: blue; 
    color: white;
    font-size: 2vw;
    height: 3vw;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.textoDiv{
    font-size: 2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    
}

h2{    
    font-size: 2vw;   
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color: black;
    font-weight: bold;        
}

.voltar{
    font-size: 2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold; 
    text-align: center;   
}