*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body{
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 4vw;
    margin-bottom: 4vw;  
}

h1{
    background-color: blue;
    color: white;
    font-size: 2vw;
    height: 3vw;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center; 

}

h2{
    background-color: gray;
    color: white;
    font-size: 2vw;    
    height: 3vw;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;

}



.voltar{
    font-size: 2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold; 
    text-align: center;   
}

.video{
    width: 250px;
    height: 300px;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    border: 4px solid  blueviolet;       
    display: block;
    margin-left: auto;
    margin-right: auto;
}







